/* Main */

*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Montserrat', Arial;
  background-color: #f6f6f6;  /* use pigments by abe33 on atom if you really want but slow */
}

.navbar{
  width: 100%;
  position: fixed;
  line-height: 75px;
  border-bottom: 2px #3e2d1e solid;
  padding: 5px 0;
  background-color: #f6f6f6;
}

.navbar ul{
  float: right;
  margin-right: 3%;
}

.navbar li{
  display: inline-block;
  padding: 5px 20px 0 20px;
  list-style: none;
}

.navbar a{
  text-decoration: none;
  font-size: 28px;
  color: #3e2d1e;
  transition: 0.2s;
}

.navbar img{
  height: 50px;
  width: 200px;
  display: inline-block;
  vertical-align: top;
  margin-left: 4%;
  margin-top: 15px;
}

.navbar a:hover{
  color: #b79470;
}

.navbar #active--page{
  color: #b79470;
}

/* too much to work with, might implement later
.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #f6f6f6;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  white-space: nowrap;
}

.dropdown-content a{
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content{
  display: block;
} */

#arrival{
  width: 100%;
  min-height: 100px;
  background-image: url(../img/backgroundnexant.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 275px 0 200px 0;
  border-bottom: 2px #2c2016 solid;
  box-shadow: 0 10px 10px -10px gray;
}

#arrival h1{
  color: #f6f6f6;
  font-weight: bold;
  font-size: 54px;
}

#arrival p{
  font-family: 'Indie Flower', cursive;
  color: #f6f6f6;
  font-size: 32px;
}

#arrival span{
  color: #2c2016;
}

/*
#line{
  background-color: rgba(183, 148, 112);
}
*/

.theme-choice{
  text-align: center;
  margin-top: 50px;
  color: #2c2016;
}

.theme-choice h1{
  font-weight: bold;
  margin-bottom: 45px;
}

#container1, #container2{
  width: 100%;
  display: inline-block;
}

#spring, #summer, #fall, #winter{
  width: 40%;
  float: left;
  margin: 0 5%;
  height: 400px;
}

#spring img, #summer img, #fall img, #winter img{
  width: 100%;
  height: 100%; /*350px*/
  margin-bottom: 15px;
}

#spring p, #summer p, #fall p, #winter p{
  font-size: 32px;
  text-decoration: none;
  color: #2c2016;
  font-family: 'Indie Flower', cursive;
}

.space{
  width: 100%;
  height: 200px;
}

.space2{
  width: 100%;
  height: 100px;
}

#clear{
  clear: both;
}

#offers-referal{
  border-top: 2px #2c2016 solid;
  border-bottom: 2px #2c2016 solid;
  margin-top: 100px;
  padding-top: 60px;
  margin-bottom: 100px;
  padding-bottom: 50px;
  font-family: 'Indie Flower', cursive;
}

#offers-referal a{
  text-decoration: none;
  font-size: 32px;
  color: #2c2016;
}

#offers-referal a:hover{
  color: #b79470;
  font-weight: bold;
}

footer{
  height: 76px;
  text-align: center;
  font-weight: lighter;
  font-size: 26px;
  background-color: #2c2016;
  color: white;
  margin-top: 50px;
  padding-top: 50px;
}




/* media queries */




@media(max-width: 1110px){
  #container1, #container2{
    width: 100%;
    display: inline-block;
  }

  #spring, #summer, #fall, #winter{
    width: 40%;
    float: left;
    margin: 0 5%;
    height: 250px;
  }

  #spring img, #summer img, #fall img, #winter img{
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
  }
}




@media(max-width: 850px){
	.navbar{
	  line-height: 50px;
	  padding: 5px 0;
	}
	.navbar li{
	  padding-top: 5px;
	}

	.navbar a{
	  font-size: 18px;
	}

	.navbar img{
	  height: 30px;
	  width: 125px;
	  margin-bottom: 10px;
	}

	#arrival{
	  min-height: 50px;
	  padding: 100px 0 100px 0;
	}

	#arrival h1{
	  font-size: 24px;
	}

	#arrival p{
	  font-size: 16px;
	}

  .theme-choice h1{
    font-size: 20px;
  }

	#spring, #summer, #fall, #winter{
	  width: 70%;
    height: 250px;
	  margin: 15px 15% 45px 15%;
	}

	#spring img, #summer img, #fall img, #winter img{
	  width: 100%;
	  height: 100%;
	  margin-bottom: 5px;
	}

	#spring p, #summer p, #fall p, #winter p{
	  font-size: 16px;
	  margin-bottom: 5px;
	}

	.space{
	  width: 100%;
	  height: 0px;
	}

  .space2{
    width: 100%;
    height: 0px;
  }

	#offers-referal{
	  margin-top: 50px;
	  padding-top: 5px;
	  margin-bottom: 5px;
	  padding-bottom: 5px;
	}

	#offers-referal h1{
		padding: 0;
	}

	#offers-referal a{
	  font-size: 16px;
	  padding-bottom: 0;
	}

	footer{
	  height: 38px;
	  font-size: 13px;
	  margin-top: 25px;
	  padding-top: 25px;
	}
}




@media(max-width: 520px){
  .navbar{
	  line-height: 30px;
	  padding: 5px 0;
	}

  .navbar li{
    padding: 8px 15px 0 15px;
	}

	.navbar a{
	  font-size: 14px;
	}

	.navbar img{
	  height: 20px;
	  width: 80px;
	  margin-bottom: 10px;
	}

	#spring, #summer, #fall, #winter{
	  width: 70%;
    height: 175px;
	  margin: 15px 15% 45px 15%;
	}
}




@media(max-width: 430px){
  .navbar{
	  line-height: 20px;
	  padding: 5px 0;
	}

	.navbar li{
	  padding: 10px 10px 0 10px;
	}

	.navbar a{
	  font-size: 12px;
	}

	.navbar img{
	  height: 15px;
	  width: 60px;
	  margin-bottom: 10px;
    margin-left: 25px;
	}
}
